

.bg-img {
    background-image: linear-gradient(rgba(6, 48, 66, 0.87), rgba(6, 48, 66, 0.87), rgba(6, 48, 66, 0.87)), url(../assets/adventure-alps-altitude-1726970.jpg);
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px auto;
}





/* .bg-img-2 {
    min-height: 100%;
    // background-image: linear-gradient(#155c72ef, #155c72ee, #155c72a1), url(../src/resources/css/img/hero.png);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 92, 114, 0.945)), color-stop(rgba(21, 92, 114, 0.925)), to(rgba(21, 92, 114, 0.31))),
      url(../src/resources/css/img/adventure-alps-altitude-1726970.jpg);
    background-image: linear-gradient(rgba(21, 92, 114, 0.945), rgba(21, 92, 114, 0.925), rgba(21, 92, 114, 0.31)),
      url(../src/resources/css/img/adventure-alps-altitude-1726970.jpg);
    // background-image: linear-gradient(#12546af5, #12546ace, #12546a80), url(../src/resources/css/img/adventure-alps-altitude-1726970.jpg);
  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 0px 20px 0px;
  } */