<!-- <mat-toolbar color="primary">Angular Truffle Box</mat-toolbar> -->
<!-- <app-meta-sender></app-meta-sender> -->


<div class="bg-img">
    <app-faucet></app-faucet>
</div>


<footer>

    <div class="row">
      <div class="col span-1-of-3">
        <div class="address-container">
          <ul class="address">
            <li>Equility AG</li>
            <li>Dammstrasse 16</li>
            <li>6300 Zug</li>
            <li>Switzerland</li>
          </ul>
        </div>
  
      </div>
      <div class="col span-1-of-3">
        <p class="social">
          <a href="https://www.linkedin.com/company/alethena" target="_blank"><i class="ion-social-linkedin"></i></a>
          <a href="https://twitter.com/alethena_rating" target="_blank"><i class="ion-social-twitter"></i></a>
          <a href="https://www.facebook.com/alethena" target="_blank"><i class="ion-social-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UC_NTtM2vAFVQkAZSItbb1pg" target="_blank"><i class="ion-social-youtube"></i></a>
          <a href="https://medium.com/alethena" target="_blank"><i class="fab fa-medium"></i></a>
          <a href="https://github.com/alethena" target="_blank"><i class="ion-social-github"></i></a>
        </p>
  
        <p class="copyright"> &copy; 2019 by Equility AG. All rights reserved.</p>
      </div>
      <div class="col span-1-of-3 ">
        <ul class="footer-nav footer-nav-hide">
          <li><a href="https://www.alethena.com/about/">About</a></li>
          <li><a href="http://www.tokenized-shares.ch">Tokenize Your Shares</a></li>
          <li><a href="mailto:contact@alethena.com">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>