<div class="row">
  <div class="main-title">
    <h1>Alethena Testnet Faucet</h1>
  </div>
</div>

<div class="row">
  <p>
    If you would like to give Alethena's Share Dispenser a try without having to acquire real Ether and Crypto
    Francs you can use our Rinkeby test net contracts.
  </p>
</div>

<div class="row">
  <div class="col span-1-of-7"></div>
  <div class="col span-1-of-7 enum">1</div>
  <div class="col span-3-of-7">Get some Rinkeby testnet Ether <a href="https://faucet.rinkeby.io/"
      target="_blank">here</a></div>
</div>

<div class="row">
  <div class="col span-1-of-7"></div>
  <div class="col span-1-of-7 enum">2</div>
  <div class="col span-3-of-7">Get some Rinkeby Testnet Crypto Francs below</div>
</div>

<div class="row">
  You have currently selected the following address: {{ selectedAddress }}
</div>

<div class="row xchf-button">
  <button mat-raised-button color="accent" (click)="XCHFCall()">Get XCHF</button>
</div>




